// Basset Library

@import "basset/helpers";
@import "basset/wp-classes";
@import "basset/grid";
@import "basset/nav";
@import "basset/sections"



/* [basset_cta] Shortcode */
.basset-inline-cta-shortcode() {
	.basset-inline-cta {
		display:block;
		background: #eee;
		color: #999;
		padding: 20px;
		text-align: center;
		overflow:hidden;
		margin:30px 0px;

		a {
			color:inherit;
		}
	}
}

/* [basset_quote] Shortcode */
.basset-blockquote-shortcode() {
	blockquote.basset-quote {
		font-size: 1.2em;
		line-height: 1.6em;
		font-style: italic;
		background:#eee;

		footer {
			text-align: right;

			a {
				color:inherit;
			}

			&:before {
				content: "— ";
			}
		}

		&.full-width-section {
			.basset-section(full-width);

			& > * {
				padding-top:30px;
				padding-bottom:30px;
			}
		}
	}
}

.basset-location-block() {
	.basset-location-block {
		color:#333;
		background:#F0EDE5;
		padding:10px;
		.border-radius(4px);

		.details {
			font-size: .8em;
			line-height:1.4em;

			.location-address {
				margin:0px 0px 6px;
			}
		}
	}
}

/* Static style for inside the content area */
.basset-content-component-styles() {
	.basset-inline-cta-shortcode;
	.basset-blockquote-shortcode;
	.basset-location-block;
}

.basset() {
	.basset-static-helpers;
	.wp-generated-classes;
}
