/* Basset Layouts */

@import 'basset';
/*@import 'templates/nav'; NOT DONE */
@import 'templates/location';

.basset-container {
	.clearfix();
	max-width: 900px;
	margin: auto;

	&.narrow {
		max-width: @iphone_6plus_landscape;
	}
}

.nav-menu-placeholder {
	padding: 20px;
	text-align: center;
	border:2px dashed #eee;
	.border-radius(4px);
	margin: 4px;
}